services:
  apache:
    image: httpd:alpine
    container_name: stormannsgal-apache
    ports:
      - "${HTTP_PORT:-80}:80"
      - "${SHTTP_PORT:-443}:443"
    volumes:
      - ./:/var/www/html
      - ./docker/httpd.conf:/usr/local/apache2/conf/httpd.conf

  php:
    container_name: stormannsgal-php
    user: "${USERMAP_UID:-1000}:${USERMAP_GID:-1000}"
    image: "ghcr.io/ownhackathon/hackathon-api-php:latest"
    env_file: ".env"
    volumes:
      - ./:/var/www/html
      - ./docker/php/php-ini-overrides.ini:/usr/local/etc/php/conf.d/extra.ini

  database:
    image: mariadb:${MARIADB_VERSION:-latest}
    container_name: stormannsgal-mariadb
    ports:
      - "${MYSQL_PUBLIC_PORT:-3306}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-db}
      MYSQL_USER: ${MYSQL_USER:-dev}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-dev}
    volumes:
      - db:/var/lib/mysql
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_general_ci

  database-testing:
    image: mariadb:${MARIADB_VERSION:-latest}
    container_name: stormannsgal-mariadb-testing
    ports:
      - "${MYSQL_TESTING_PORT:-3307}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
      MYSQL_DATABASE: ${MYSQL_DATABASE:-db}
      MYSQL_USER: ${MYSQL_USER:-dev}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-dev}
    volumes:
      - db-testing:/var/lib/mysql

  mailhog:
    image: mailhog/mailhog
    container_name: stormannsgal-mailhog
    logging:
      driver: 'none'  # disable saving logs
    ports:
      - "${MAILHOG_SMTP_PORT:-1025}:1025" # smtp server
      - "${MAILHOG_WEBUI_PORT:-8025}:8025" # web ui

volumes:
  db:
  db-testing:
